body{

    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);

}



.icon{

    width: 30%;
    height: 150px;

}

img{

    max-width: 100%;
    max-height: 100%;


}

.main_content{

    margin:auto auto;
    display:block;

    
    
    padding-bottom: 10px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 50px;
    font-size: large;

/* border: 5px solid #121212; */
width: 700px;
height: 45%;
text-align: center;
color: white;



}


.results
{
    margin-top: 100px;
}


.result_text{

    margin:0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 40px;

}


footer{

    font-family:verdana;
    position: absolute;
    bottom: 30px;
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



.searchBox {
    display: flex;
    max-width: 700px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
    margin: 0 auto; /* Center the searchBox horizontally */
    border: 2px solid reds !important
}

  
  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 42px;
    top: 4.5px;
    height: 42px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }

  /*hover effect*/
  button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  
  .searchInput {
    border: None;
    background: none;
    outline: none;
    background-color: transparent !important;
    color: white;
    font-size: 15px;
    padding: 18px 42px 18px 22px;
    width: 190%;
  }
  

/* Override Chrome autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    color: white;
}








